@import "tailwindcss";

@theme {
  --color-blue-primary: #2d336b;
  --color-blue-secondary: #7886c7;
  --color-blue-tertiary: #a9b5df;
  --color-light-primary: #fff2f2;
}

.font-inter-sans {
  font-family: var(--font-inter-sans);
}

.font-inria-sans {
  font-family: var(--font-inria-sans);
}
