@import "tailwindcss";

@theme {
  --color-blue-primary: #3080e3;
  --color-blue-secondary: #3393d4;
  --color-blue-tertiary: #37a8c4;
  --color-light-primary: #eef1f4;
  --color-orange-primary: #fd723b;
}

.font-inter-sans {
  font-family: var(--font-inter-sans);
}

.font-inria-sans {
  font-family: var(--font-inria-sans);
}
